/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  width: 150px;
}
